version: '3.4'

services:
  airlineapi:
    image: ${DOCKER_REGISTRY-}airlineapi
    build:
      context: .
      dockerfile: src/backend/AirlineAPI/Dockerfile

  airlinesendagent:
    image: ${DOCKER_REGISTRY-}airlinesendagent
    build:
      context: .
      dockerfile: src/backend/AirlineSendAgent/Dockerfile


  travelagentapi:
    image: ${DOCKER_REGISTRY-}travelagentapi
    build:
      context: .
      dockerfile: src/backend/TravelAgentAPI/Dockerfile

  rabbitmq:
    # image: rabbitmq:3-management
    image: rabbitmq:3-management-alpine

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: webhookmssql