<div class="d-flex flex-column my-5">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="my-2">
          <img class="mx-auto d-block" style="max-width: 10%; width: 10%; height: 10%; max-height: 10%;" src="../../../assets/images/bowen_logo.png"/>
        </div>
        <div class="error-template">
          <h1>
            Oops!</h1>
          <h2>
            404 Not Found</h2>
          <div class="error-details">
            Sorry, an error has occurred, Requested page not found!
          </div>
          <div class="error-actions text-white my-3">
            <a (click)="back()" class="btn btn-secondary"><span class="fa fa-backward"></span>
              To previous page
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
